@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.have-a-question.services .have-a-question-text-area h1{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 111.18%;
    margin-bottom: 15%;
    margin-top: 33%;
}
.nexsyon-hero-banner .banner-heading{
    margin-bottom: 5%;
}
.middle-service{
    margin-top: -11%;
}
@media screen and (max-width:1366px) {
    .have-a-question.services .have-a-question-text-area h1{
        font-size: 37px;
    }
}
@media screen and (max-width:500px) {
    .have-a-question.services .have-a-question-text-area h1{
        line-height: 111.18%;
        margin-bottom: 15%;
        margin-top: 8%;
    }
    .our-service-tab{
        padding-bottom: 10%;
    }
    .have-a-question .have-a-question-service-area .col-lg-4{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 1%;
        margin-top: .5%;
    }
}