.loader-background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #edf3f7;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	letter-spacing: 0.3px;
    z-index: 999999999999;
}

.preLoader{
	width: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.loader {
	--color: white;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

/**
	loader --1
**/

.loader.--1::before {
	width: var(--size-mid);
	height: var(--size-mid);
	border: 5px solid #0c253d;
	border-top-color: transparent;
	border-radius: 50%;
	-webkit-animation: loader-1 1s linear infinite;
	        animation: loader-1 1s linear infinite;
}

.loader.--1::after {
	width: calc(var(--size-mid) - 2px);
	height: calc(var(--size-mid) - 2px);
	border: 3px solid transparent;
	border-top-color: #0c253d;
	border-radius: 50%;
	animation: loader-1 0.6s linear reverse infinite;
}

@-webkit-keyframes loader-1 {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes loader-1 {
	100% {
		transform: rotate(1turn);
	}
}


