@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	font-size: 10px;
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	overflow-y: initial;
}
.container-fluid {
	overflow: hidden;
}

/*------------------------------- 	NAVBAR  ------------------------------*/

.nav {
	width: 100%;
	height: 65px;
	position: absolute;
	line-height: 65px;
	text-align: center;
	z-index: 99;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.6s ease;
	top: 0px;
	padding-right: 3.9%;
	padding-left: 3.5%;
}
.nav .container-fluid {
	margin: 0;
	padding: 0;
}
#nav-contact-us {
	background: #111;
	padding-top: 1px;
}
.nav div.logo {
	float: left;
	width: auto;
	height: auto;
}
.nav div.logo img {
	width: 75px;
	padding: 0;
}
.nav div.logo a {
	font-family: 'Noto sans', sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 23px;
	position: absolute;
	line-height: 60px;
}
.nav div.main_list {
	height: 65px;
	float: right;
}
.nav div.main_list ul {
	width: 100%;
	height: 65px;
	display: flex;
	list-style: none;
	margin: 0;
}
.nav #contact-button {
	border: 1px solid white;
	padding: 9px 16px;
	border-radius: 5px;
}
.nav #contact-button:hover {
	border: 1px solid white;
	color: white;
}
.nav div.main_list ul li {
	width: auto;
	height: 65px;
	padding: 0;
	padding-right: 4.5rem;
}
.nav div.main_list ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 65px;
	font-size: 1.5rem;
	transition: .5s;
}
.nav div.main_list ul li i {
	text-decoration: none;
	color: #fff;
	line-height: 65px;
	font-size: 1.4rem;
	transition: .5s;
	padding-left: 10px;
}
.nav div.main_list ul li a:hover {
	transition: .5s;
	color: #0093D1;
}
.nav div.main_list ul li a:hover i {
	transition: .5s;
	color: #0093D1;
}
.nav div.main_list ul li .active {
	color: #0093D1;
}
.nav .drop-down {
	display: none;
	background: rgba(0, 11, 49, 0.3);
	margin-left: -20px;
}
.nav .drop-down a {
	width: 192px;
	text-align: left;
	margin: 0;
	height: 50px;
	padding-left: 15px;
	display: block;
}
.nav .drop-down a:hover {
	background: rgba(0, 10, 48, 0.6);
}
.nav .drop-down a.active {
	background: rgba(0, 10, 48, 0.6);
}
.nav .show-dropdown:hover .drop-down {
	display: block;
	position: absolute;
}
#drop-down-item {
	line-height: 47px;
}
.navTrigger {
	display: none;
}
@media screen and (max-width:1024px) {
	.navTrigger {
		display: block;
	}
	.nav {
		display: block;
	}
	.nav div.logo {
		margin-left: 12px;
		padding-left: 1rem;
	}
	.nav div.main_list {
		width: 100%;
		height: 0;
		overflow: hidden;
	}
	.nav div.show_list {
		height: auto;
		display: none;
	}
	.nav div.main_list ul {
		overflow: hidden;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #111;
		background-position: center top;
	}
	.nav div.main_list ul li {
		width: 100%;
		text-align: left;
	}
	.nav div.main_list ul li a {
		text-align: center;
		width: 100%;
		font-size: 2rem;
	}
	#contact-button {
		background: #0093D1;
		padding: 12px 16px;
	}
	#contact-button:hover {
		background: #2d718f;
	}
	.nav div.media_button {
		display: block;
	}
	.home .hero-banner h1 {
		font-size: 3em;
	}
	.about-disc img {
		width: 300px;
	}
}
.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	position: absolute;
	right: 40px;
	top: 36px;
	transition: .4s;
}
#nav-contact-trigger {
	top: 7px;
}
.navTrigger i {
	background-color: #fff;
	border-radius: 2px;
	content: '';
	display: block;
	width: 100%;
	height: 4px;
}
.navTrigger i:nth-child(1) {
	-webkit-animation: outT 0.8s backwards;
	animation: outT 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
	margin: 5px 0;
	-webkit-animation: outM 0.8s backwards;
	animation: outM 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
	-webkit-animation: outBtm 0.8s backwards;
	animation: outBtm 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
	-webkit-animation: inT 0.8s forwards;
	animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
	-webkit-animation: inM 0.8s forwards;
	animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
	-webkit-animation: inBtm 0.8s forwards;
	animation: inBtm 0.8s forwards;
}
.show-content .hero-banner {
	display: none;
}
@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}
@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}
@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}
@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}
@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}
@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}
.affix {
	padding: 0;
	background-color: transparent;
	transition: 1s;
}
.myH2 {
	text-align: center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
}
@media all and (max-width:1366px) {
	#terms {
		padding-bottom: 7%;
		padding-top: 10%;
	}
}
@media all and (max-width:1025px) {
	#terms {
		padding-bottom: 7%;
		padding-top: 14%;
	}
}
@media all and (max-width:1366px) {
	#terms {
		padding-bottom: 7%;
		padding-top: 10%;
	}
}
@media all and (max-width:1024px) {
	.myP {
		padding: 2%;
	}
	#terms {
		padding-bottom: 7%;
		padding-top: 29%;
	}
	.about {
		padding-top: 10%;
	}
	.single-service {
		padding: 0px;
		cursor: pointer;
	}
	#my-form-button {
		margin-top: 10px;
		padding: 17px 14px;
		margin-bottom: 30px;
		width: 100%;
		height: 60px;
	}
	.contact {
		padding-top: 14%;
	}
}
@media all and (max-width:1024px) {
	.nav div.main_list ul li {
		padding-right: 2.5rem;
	}
}
@media all and (max-width:1024px) {
	.only-desktop{
		display: none;
	}
	.nav {
		padding-right: 0%;
		padding-left: 0%;
		padding-top: 0px;
		padding-bottom: 0px;
		height: fit-content;
		background: transparent;
	}
	.nav div.main_list ul {
		padding-right: 0%;
		padding-left: 6%;
		padding-top: 3%;
		padding-bottom: 4%;
		background: -webkit-linear-gradient(45deg, #040a22, #0c253df5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(45deg, #040a22, #0c253df5);
		height: 100vh;
		width: 100%;
	}
	.nav div.logo {
		line-height: 90px;
	}
	.nav div.logo img {
		width: 85px;
		padding: 0;
	}
	.nav div.logo a {
		line-height: 90px;
		font-size: 24px;
	}
	.show-navbar .logo {
		display: none;
	}
	.nav .show-dropdown .drop-down {
		display: block;
		position: relative;
		height: fit-content;
		margin: 0;
		padding: 0;
		float: left;
	}
	.nav div.main_list ul li {
		width: auto;
		height: fit-content;
		padding: 0;
		padding-right: 0rem;
		text-align: left;
		margin: 0;
		line-height: 58px;
	}
	.nav div.main_list ul li a {
		text-decoration: none;
		color: #fff;
		line-height: normal;
		font-size: 2.7rem;
		transition: .5s;
	}
	.nav div.main_list ul li a:hover{
		color: #00D6FF;
	}
	.nav div.main_list ul li a.active{
		color: #00D6FF;
	}
	.nav div.main_list ul li i {
		text-decoration: none;
		color: #fff;
		line-height: normal;
		font-size: 2.4rem;
		transition: .5s;
		padding-left: 10px;
	}
	.nav .drop-down {
		background: transparent;
		width: 100%;
	}
	.nav .drop-down a {
		width: fit-content;
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: 0 auto;
		height: fit-content;
		display: inline-flex;
		text-align: center;
		flex-direction: column-reverse;
		margin-left: -2%;
	}
	.nav .drop-down a:hover {
		background: transparent;
	}
	.nav .drop-down a.active {
		background: transparent;
	}
	#drop-down-item {
		line-height: normal;
	}
	.nav .show-dropdown:hover .drop-down {
		display: block;
		position: relative;
	}
	.nav #contact-button {
		border: 1px solid white;
		padding: 12px 23px;
		border-radius: 5px;
		background: transparent;
		width: 100%;
		margin-top: 40px;
	}
	#contact-li {
		margin-top: 15px;
	}
}
@media all and (max-width:600px) {
	.nav div.main_list ul {
		padding-right: 0%;
		padding-left: 6%;
		padding-top: 6%;
		padding-bottom: 5%;
		overflow: scroll;
	}
	.nav div.main_list ul li{
		margin-top: 2.2%;	
	}
	.nav div.main_list ul li a {
		font-size: 2.05rem;
		margin-top: 3.2%;
	}
	.nav div.main_list ul li i {
		font-size: 1.7rem;
	}
	.nav div.main_list ul li {
		line-height: 0px;
	}
}