@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
	font-size: 10px;
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
}

.container-fluid{
	overflow: hidden;
}

/*------------------------------- EACH SECTION GAP  ------------------------------*/

  .each-section-gap{
	position: relative;
	padding: 3.5%;
  }



  /*------------------------------- ABOUT US  ------------------------------*/

  
  .about-nexsyon{
	  position: relative;
	  overflow: hidden;
  }
  .about-nexsyon .container-fluid{
	padding-left: 7%;
	padding-right: 7%;
}
.text-about-nexsyon{
	padding-top: 10.5%;
}
.text-heading-about-nexsyon{
	font-family: 'Noto Sans', sans-serif;
	font-size: 27px;
	font-weight: bold;
	line-height: 20px;
}
.text-heading-about-nexsyon span{
	color: #0C71A9;
}	
.text-heading-about-nexsyon::before{
	display: inline-block;
    content: "";
    border: 3px solid #0C71A9;
    width: 20px;
	margin: 5px;
	margin-right: 10px;
}
.short-para-about-nexsyon{
	width: 400px;
	font-family: 'Noto Sans', sans-serif;
	margin: 10%;
	margin-left: 13%;
	font-size: 16px;
	text-align: justify;
}

.short-para-about-nexsyon i{
	position: absolute;
	font-size: 20px;
	padding: 3px;
	padding-left: 10px;
}



@media screen and (max-width:1366px) {
	.about-nexsyon .container-fluid{
		padding-left: 6%;
		padding-right: 6%;
	}
	.text-heading-about-nexsyon{
		font-size:22px;
	}
	.short-para-about-nexsyon{
		width: 380px;
		font-size: 15px;
	}
}

@media screen and (max-width:768px) {
	.short-para-about-nexsyon{
		margin: 10%;
		margin-left: 10%;
	}
}