@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
  /*font-family: 'Montserrat', sans-serif;*/


html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
	font-size: 10px;
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
  
}

.container-fluid{
  overflow: hidden;
}

/*------------------------------- 	HERO BANNER  ------------------------------*/

.navTrigger {
		display: none;
	}
  .nexsyon-hero-banner {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: -webkit-linear-gradient(45deg, #040A22, #0c253d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #040A22, #0c253d);
    overflow: hidden;
  }

  .parallax-window {
    min-height: 100vh;
    background: transparent;
   
}
/*-----------
  .hero-banner-background-img {
	background-image: url("../images/home/banner/hero-banner.png");
    display: block;
    width: 100%;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
  }

  */
  .hero-banner-text {
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 0 50px;
    padding-left: 7%;
    z-index: 10;
  }
  .banner-heading {
    font-family: 'Play', sans-serif;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 4.04vw;
    line-height: 99.68%;
    letter-spacing: -0.035em;
    text-transform: capitalize;
    margin-bottom: 3.8%;
  }
  .banner-paragraph {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.04vw;
    line-height: 27px;
    text-transform: capitalize;
    margin-bottom: 5.5%;
  }
  .hero-banner-text a{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-style: normal;
    font-size: 1.1vw;
    line-height: 70px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .hero-banner-text i{
    color: white;
    font-size: 1.247vw;
	line-height: 72px;
    margin-left: 12px;
   position: absolute;
  }


  .nexsyon-contact-icons{
    width: 100%;
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
    right: 0%;
	padding-left: 4%;
    z-index: 10;
  }


  .nexsyon-contact-icons span::before{
    display: inline-block;
    content: "";
    border: 1px solid white;
    width: 83px;
  }


  .nexsyon-contact-icons span{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    z-index: 9999999999999999999999999;
  }


  .nexsyon-contact-icons span svg{
     margin-left: 20px;
     fill: white;
     transition: .5s;
  }

  .nexsyon-contact-icons span svg:hover{
    transition: .5s;
    fill: #009DFE;
 }

  .nexsyon-social-icons{
    max-width: 100%;
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
    right: 0%;
	padding-right: 4%;
    z-index: 10;	
  }


  .nexsyon-social-icons span::after{
    display: inline-block;
    content: "";
    border: 1px solid white;
    width: 83px;
  }

  .nexsyon-social-icons span::before{
    display: inline-block;
    content: "";
    border: 1px solid white;
    width: 0px;
    opacity: 0;
  }



  .nexsyon-social-icons span svg{

    margin-right: 20px;

  }

  @media screen and (max-width:1366px) {
  .nexsyon-contact-icons span{

    font-size: 16px;
  }

}







@media screen and (max-width:1024px) {
  .hero-banner-text {
    width: 90%;
  }
  .banner-heading {
    font-size: 7.5vw;
  }
  .banner-paragraph {
    font-size: 2.9vw;
    line-height: normal;
    width: 80%;
  }
  .banner-paragraph br{
    display: none;
  }
  .hero-banner-text a{
    font-size: 3.04vw;
  }
  .hero-banner-text i{
    color: #009DFE;
    font-size: 3.04vw;
  }
}



@media screen and (max-width:768px) {
  .desktop{
    display: none;
  }
  .tab{
    display: block;
  }
  .parallax-window.desktop{
    display: none;
  }
  .parallax-window.tab{
    display: block;
  }
  .hero-banner-text {
    top: 65%;
  }
  .hero-banner-text {
    width: 95%;
  }
  .banner-heading {
    font-size: 8.4vw;
  }
  .banner-paragraph {
    font-size: 3.2vw;
    line-height: normal;
    width: 80%;
  }
  .hero-banner-text a{
    font-size: 3.24vw;
  }
  .hero-banner-text i{
    color: #009DFE;
    font-size: 3.04vw;
  }
}










/*+++++++++++++++ CAPABILITY PAGE BANNER +++++++++++++++++*/

.all-capability-short-view .col-xl-4{
  padding: 10px;
}
.all-capability-short-view .col-xl-4 .the-capability{
  background: transparent;
  height: fit-content;
}
.software-engineering-process-points .software-engineering-process-points-icon.the-capability-icon{
  background: #e8edee;
  background: linear-gradient(128.91deg, #000F1B 14.17%, #0C1D3B 94.14%);
  box-shadow: 0px 5px 20px 0px #060C18;
  box-shadow: 0px -4px 10px 0px #1C335B;
  height: fit-content;
  margin: 4px;
  padding: 8%;
}
.software-engineering-process-points .software-engineering-process-points-icon.the-capability-icon img{
  width: 20px;
  height: 20px;
}
.software-engineering-process-points-discription.the-capability-name p{
  color: white;
  transition: .3s;
}
.software-engineering-process-points-discription.the-capability-name a{
  text-decoration: none;
  color: white;
  transition: .3s;
}
.software-engineering-process-points-discription.the-capability-name:hover a p{
  text-decoration: none;
  color: #009DFE;
  transition: .3s;
}
.software-engineering-process-points.the-capability-of-helyptic{
  display: flex;
  align-items: center;
  text-align: left;
}
.desktop{
  display: block;
}
.tab{
  display: none;
}
.parallax-window.desktop{
  display: block;
}
.parallax-window.tab{
  display: none;
}
.our-service-desktop{
  display: block;
}
.our-service-tab{
  display: none;
}

@media screen and (max-width:1024px) {
  .software-engineering-process-points-discription.the-capability-name p{
    font-size: 24px;
    font-weight: 100;
  }
  .software-engineering-process-points .software-engineering-process-points-icon.the-capability-icon{
    padding: 10%;
  }
  .software-engineering-process-points .software-engineering-process-points-icon.the-capability-icon img{
    width: 30px;
    height: 30px;
  }
  .nexsyon-contact-icons span{
    font-size: 25px;
  }

}

@media screen and (max-width:768px) {
  .parallax-window.desktop{
    display: none;
  }
  .parallax-window.tab{
    display: block;
  }
  .hero-banner-text.capabilities-page {
    width: 100%;
    top: 55%;
  }
  .hero-banner-text.service-page {
    width: 100%;
    top: 65%;
  }
  .software-engineering-process-points-discription.the-capability-name p{
    font-size: 20px;
    font-weight: 100;
  }
  .software-engineering-process-points .software-engineering-process-points-icon.the-capability-icon{
    padding: 8%;
  }
  .nexsyon-contact-icons span{
    font-size: 16px;
  }
  .our-service-desktop{
    display: none;
  }
  .our-service-tab{
    display: block;
  }
  /* Hero banner text position for our work page */
  .hero-banner-text.our-work-page{
    top: 50%;
  }
  /* Hero banner text position for about page */
  .hero-banner-text.about-page{
    top: 50%;
  }
  /* For about us changing the width of banner paragraph */
  .banner-paragraph.aboutus {
    width: 95%;
  }

  /* Hero banner text position for Contact Us page */
  .hero-banner-text.contact-us-page{
    top: 50%;
  }

}



@media screen and (max-width:500px) {

  .hero-banner-text {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 70%;
  }
  /* Hero text position for capabiity page */
  .hero-banner-text.capabilities-page{
    margin: 0;
    padding: 0;
    top: 66%;
  }
/* Hero text position for services page */
  .hero-banner-text.service-page{
    margin: 0;
    padding: 0;
    top: 73%;
  }
/* Hero banner text position for about page */
  .hero-banner-text.about-page{
    margin: 0;
    padding: 0;
    top: 51%;
  }

  /* Hero banner text position for Our Work page */
  .hero-banner-text.our-work-page{
    margin: 0;
    padding: 0;
    top: 51%;
  }

  /* Hero banner text position for Contact Us page */
  .hero-banner-text.contact-us-page{
    margin: 0;
    padding: 0;
    top: 51%;
  }

  .banner-heading {
    font-size: 9.6vw;
  }
  .banner-paragraph {
    font-size: 4.8vw;
    line-height: normal;
    width: 90%;
    display: table;
    margin: 0 auto;
  }

  /* For about us changing the width of banner paragraph */
  .banner-paragraph.aboutus {
    width: 70%;
  }


  .hero-banner-text a{
    font-size: 5vw;
  }
  .hero-banner-text i{
    color: #009DFE;
    font-size: 6vw;
  }

  .nexsyon-contact-icons span::before{
    display: none;
  }
  .nexsyon-social-icons span::after{
    display: none;
  }
  .all-capability-short-view {
    text-align: center;
    ;
  }
  .all-capability-short-view .col-xl-4{
    text-align: center;
    width: 100%;
  }
  .all-capability-short-view .col-xl-4 .the-capability{
    width: 100%;
    height: 170px;
  }

}
